@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$roboto-font: 'Roboto', sans-serif;

$bg-menu: rgb(177,31,244);
$bg-gradient: radial-gradient(circle, rgba(177,31,244,1) 0%, rgba(84,9,150,1) 100%);

$title-color: #F6F3FB;
$color: #171A18;
$bg: #F1E5FE;
$bg-card: #fdfaff;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

$header-height: 4.5rem;